*{
  font-family: sans-serif;
}
body {
  width: 100vw;
  
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

#pageContainer{
  border-color: white;
  border:1px solid white;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#copyRightText {
  text-align: center;
  color: white;
  font-size: small;
  top: 25px;
  position: relative;
}
.login-container {
  margin: 0;
  padding: 0;
}

#containerCadastro{
  border: 1px solid white;
  border-radius: 10px;
  max-width: 900px;
}

.login-logo {
  margin: 50px;
}

#titleCadastro{
  color:white;
  border-bottom: 1px solid white;
}
#labelPass , #labelEmail , #labelUser , #labelTelefone , #labelTipoAcesso{
  display: block;
  margin-bottom: 5px;
  color: white;
}

#containerForm{
  width: 100%;
  max-width: 1000px;
}

.login-form {
  padding-bottom: 30px;
  max-width: 800px;
  width: 100%;
}

.login-form h2 {
  margin-bottom: 30px;
  text-align: center;
  color: #0069d9;
}

.login-btn {
  width: 100%;
  max-width: 300px;
  background-color: #0069d9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-form img {
  /* Aplica um filtro de escala de cinza à imagem */
  filter: grayscale(100%);
  /* Adiciona um pouco de opacidade à imagem para que a cor de fundo não interfira muito */
  opacity: 0.7;
}

#password {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

#showPasswordBtn {
  cursor: pointer;
  border-radius: 5px;
  background-color: #0069d9;
  color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.input-group-append {
  position: absolute;
  right: 0;
  top: 0;
}
